<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- SITE META -->
    <title>Catalog | 定制属于你的模板</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/apple-touch-icon-152x152.png' %}">

    <!-- TEMPLATE STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/prettyPhoto.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">

    <!--[if IE]>
    <script src="{% static 'http://html5shiv.googlecode.com/svn/trunk/html5.js' %}></script>
    <![endif]-->

</head>
<body>

    <!-- START SITE -->
    <div id="wrapper">
        <nav class="hidden-xs cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
            <h3><i class="fa fa-star-o"></i> 我的收藏</h3>
            <ul>
                <li>
                    <img src="{% static 'upload/item_01.jpg' %}" alt="" class="alignleft img-responsive">
                    <h4><a href="{% static 'single-item.html' %}"> 用户配置文件</a></h4>
                    <small><a href="{% static 'single-item.html' %}"><i class="fa fa-eye"></i> 221</a></small>
                    <small><a href="{% static 'single-item.html' %}"><i class="fa fa-comment-o"></i> 05</a></small>
                </li>
                <li>
                    <img src="{% static 'upload/item_02.jpg' %}" alt="" class="alignleft img-responsive">
                    <h4><a href="{% static 'single-item.html' %}">邮箱申请</a></h4>
                    <small><a href="{% static 'single-item.html' %}"><i class="fa fa-eye"></i> 435</a></small>
                    <small><a href="{% static 'single-item.html' %}"><i class="fa fa-comment-o"></i> 13</a></small>
                </li>
                <li>
                    <img src="{% static 'upload/item_03.jpg' %}" alt="" class="alignleft img-responsive">
                    <h4><a href="{% static 'single-item.html' %}">展示播客</a></h4>
                    <small><a href="{% static 'single-item.html' %}"><i class="fa fa-eye"></i> 551</a></small>
                    <small><a href="{% static 'single-item.html' %}"><i class="fa fa-comment-o"></i> 12</a></small>
                </li>
                <li>
                    <img src="{% static 'upload/item_04.jpg' %}" alt="" class="alignleft img-responsive">
                    <h4><a href="{% static 'single-item.html' %}">登录框(自定义)</a></h4>
                    <small><a href="{% static 'single-item.html' %}"><i class="fa fa-eye"></i> 412</a></small>
                    <small><a href="{% static 'single-item.html' %}"><i class="fa fa-comment-o"></i> 55</a></small>
                </li>
            </ul>
        </nav>

        <header class="header">
            <div class="container-menu">
                <nav class="navbar navbar-default yamm">
                    <div class="container">
                        <div class="navbar-table">
                            <div class="navbar-cell">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="{% static 'index.html' %}"><i class="fa fa-hashtag"></i> 目录</a>
                                    <div class="open-menu">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                            <span class="sr-only">切换导航</span>
                                            <span class="fa fa-bars"></span>
                                        </button>
                                    </div>
                                </div><!-- end navbar-header -->
                            </div><!-- end navbar-cell -->
                            <div class="navbar-cell stretch">
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                    <div class="navbar-cell">
                                        <ul class="nav navbar-nav navbar-center">
                                            <li><a class="active" href="{% static 'index.html' %}" title="">主页</a></li>
                                            <li class="dropdown megamenu yamm-half hovermenu"><a href="{% static '#' %}" data-toggle="dropdown" class="dropdown-toggle">特征 <b class="fa fa-angle-down"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                    <div class="yamm-content">
                                                        <div class="row">
                                                            <div class="col-md-4 col-sm-6">
                                                                <div class="box">
                                                                    <ul>
                                                                        <li><a href="{% static 'page-404.html' %}">404 - 页面找不到</a></li>
                                                                        <li><a href="{% static 'login.html' %}">登录 & 注册</a></li>
                                                                        <li><a href="{% static 'faqs.html' %}">FAQS & 支持</a></li>
                                                                        <li><a href="{% static 'about.html' %}">关于我们</a></li>
                                                                        <li><a href="{% static 'about.html' %}">关于我们</a></li>
                                                                        <li><a href="{% static 'contact.html' %}">联系我们</a></li>
                                                                    </ul>
                                                                </div><!-- end box -->
                                                            </div><!-- end col -->
                                                        </div>
                                                    </div><!-- end ttmenu-content -->
                                                    </li>
                                                </ul>
                                            </li><!-- end mega menu -->
                                            <li class="dropdown megamenu yamm-half hovermenu"><a href="{% static '#' %}" data-toggle="dropdown" class="dropdown-toggle">Market <b class="fa fa-angle-down"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                    <div class="yamm-content">
                                                        <div class="row">

                                                            <div class="col-md-6 col-sm-6">
                                                                <div class="box">
                                                                    <h5>User Profile</h5>
                                                                    <ul>
                                                                        <li><a href="{% static 'edit-account.html' %}">修改资料</a></li>
                                                                        <li><a href="{% static 'public-profile.html' %}">公共配置文件</a></li>
                                                                        <li><a href="{% static 'upload-item.html' %}">上传图片</a></li>
                                                                        <li><a href="{% static 'downloads.html' %}">下载</a></li>
                                                                        <li><a href="{% static 'login.html' %}">登录 & 注册</a></li>
                                                                    </ul>
                                                                </div><!-- end box -->
                                                            </div><!-- end col -->
                                                        </div>
                                                    </div><!-- end ttmenu-content -->
                                                    </li>
                                                </ul>
                                            </li><!-- end mega menu -->
                                            <li><a href="{% static 'forum.html' %}" title="">评论</a></li>
                                            <li><a href="{% static 'contact.html' %}" title="">联系</a></li>
                                        </ul>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li class="dropdown membermenu hovermenu">
                                                <a href="{% static '#' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="{% static 'upload/member.png' %}" alt="" class="img-circle"> <span class="caret"></span></a>
                                                <ul class="dropdown-menu">
                                                    <li class="dropdown-header">简况</li>
                                                    <li><a href="{% static 'edit-account.html' %}">修改资料</a></li>
                                                    <li><a href="{% url "accounts:logout" %}">退出登录</a></li>
                                                    <li><hr></li>
                                                    <li class="dropdown-header">卖家状态一览表</li>
                                                    <li><a href="{% static 'public-profile.html' %}">公共配置</a></li>
                                                    <li><a href="{% static 'sales.html' %}">我的销售</a></li>
                                                    <li><a href="{% static 'messages.html' %}">留言板</a></li>
                                                    <li><a href="{% static 'upload-item.html' %}">上传商品</a></li>
                                                    <li><a href="{% static 'downloads.html' %}">下载</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div><!-- end navbar-cell -->
                                </div><!-- /.navbar-collapse -->        
                            </div><!-- end navbar cell -->
                        </div><!-- end navbar-table -->
                    </div><!-- end container fluid -->
                </nav><!-- end navbar -->
            </div><!-- end container -->
        </header>

        <section class="section single-wrap">
            <div class="container">
                <div class="page-title public-profile-title">
                    <div class="row">
                        <div class="col-sx-12 text-center">
                            <h3>目录市场</h3>
                            <p>数百个PSD模板，移动应用， UI & 材料元素!你自己上传的 <br> 手工制作的数码产品，有偿!</p>
                            <a href="{% static '#' %}" class="followbtn">新建商店</a> <span>-</span> <a href="{% static '#' %}" class="followbtn">上传</a> <span>-</span> <a href="{% static '#' %}" class="followbtn">Earn Money</a>
                        </div>
                    </div>
                </div>
                <div class="content-before">


                    <div class="row">
                        <div class="col-md-6 col-sx-12 cen-xs">
                            <form class="dropForm">
                                <div class="input-prepend">
                                    <input type="text" class="form-control" placeholder="Search anything here.">
                                    <button class="btn btn-primary" tabindex="-1"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 text-right hidden-xs">
                            <div class="catalog-order">
                                <select name="orderby" class="selectpicker">
                                    <option value="popularity">热度推荐</option>
                                    <option value="rating">好评推荐</option>
                                    <option value="date" selected='selected'>新图飙升榜</option>
                                    <option value="price">按价格排序:从低到高</option>
                                    <option value="price-desc">按价格排序:从高到低</option>
                                </select>
                            </div>
                        </div>
{###################################这里是按热度序#}
                    </div><!-- end row -->
                </div><!-- end content before -->

                <div class="content">
                    <div class="row">
                        <div class="col-md-12 general-title">
                            <h4>最近项目 <span class="hidden-xs"><a href="{% static 'shop-four.html' %}">查看全部</a></span></h4>
                            <hr>
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <div class="row">
                        {% for contact in contacts %}
                        <div class="col-md-3 col-sm-6">
                            <div class="item-box">
                                <div class="item-media entry">
                                    <img src="{{ contact.picture_url }}" alt="" class="img-responsive">
                                    <div class="magnifier">
                                        <div class="item-author">
                                            <a href="{% static 'public-profile.html' %}"><img src="{{ contact.contributor.avator_sor }}" class="img-circle" alt=""> {{ contact.contributor.username }}</a>
                                        </div><!-- end author -->
                                    </div>
                                    <div class="theme__button">
                                        <p><a href="{% static 'single-item.html' %}" title="">{{ contact.count }}</a></p>
                                    </div>
                                </div><!-- end item-media -->
                                <h4><a href="{% static 'single-item.html' %}">{{ contact.picture_name }}</a></h4>
                                <small><a href="{% static 'single-item.html' %}"><i class="fa fa-eye"></i> 893</a></small>
                                <small><a href="{% static 'single-item.html' %}"><i class="fa fa-comment-o"></i> 12</a></small>
                            </div><!-- end item-box -->
                        </div><!-- end col -->
                        {% endfor %}

                    </div><!-- end row -->
                </div><!-- end content -->
{#{% for contact in contacts %}#}
    {# Each "contact" is a Contact model object. #}
{#    {{ contact.full_name|upper }}<br />#}
{#    ...#}
{#{% endfor %}#}
                <div class="content-after text-center boxs">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="pagination-wrapper">
                                <ul class="pagination">
                                       <span class="step-links">
                                        {% if contacts.has_previous %}
                                            <a href="?page={{ contacts.previous_page_number }}">前一页</a>
                                        {% endif %}
                                        <span class="current">
{#                                        <li><a href="{{ contacts.next_page_number }}">5</a></li>#}
                                            页面 {{ contacts.number }} 到 {{ contacts.paginator.num_pages }}.
                                        </span>

                                        {% if contacts.has_next %}
                                            <a href="?page={{ contacts.next_page_number }}">下一页</a>
                                        {% endif %}
    </span>
{#                                    <li>#}
{#                                        <a href="{% static '#' %}" aria-label="Next">#}
{#                                            <span aria-hidden="true">&raquo;</span>#}
{#                                        </a>#}
{#                                    </li>#}
                                </ul>
                            </nav>
                        </div>
                    </div><!-- end row -->
                </div><!-- end content after -->
            </div><!-- end container -->
        </section>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <div class="media cen-xs">
                            <p>
                                &copy; 目录 INC. 2019 - 所有权利归Jack解释.<br>
                                Idea by <a class="madeby" href="{% static 'http://www.17sucai.com' %}">Show WP</a> made with <i class="fa fa-heart"></i> coded with <i class="fa fa-html5"></i>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <ul class="list-inline text-right cen-xs">
                            <li><a href="{% static '#' %}">首页</a></li>
                            <li><a href="{% static '#' %}">网站上</a></li>
                            <li><a href="{% static '#' %}">版权</a></li>
                            <li><a href="{% static '#' %}">执照</a></li>
                            <li><a href="{% static '#' %}">法律</a></li>
                            <li><a class="topbutton" href="{% static '#' %}">返回顶部 <i class="fa fa-angle-up"></i></a></li>
                        </ul>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->
    </div><!-- end wrapper -->
    <!-- END SITE -->

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</body>
</html>