{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
            <section class="section single-wrap">
            <div class="container" >

                <div class="content-before">


                    <div class="row">
                        <div class="col-md-6 col-sx-12 cen-xs">
                            <form class="dropForm">
                                <div class="input-prepend">
                                    <input type="text" class="form-control" placeholder="Search anything here.">
                                    <button class="btn btn-primary" tabindex="-1"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 text-right hidden-xs">
                            <div class="catalog-order">
                                <select name="orderby" class="selectpicker">
                                    <option value="popularity">热度推荐</option>
                                    <option value="rating">好评推荐</option>
                                    <option value="date" selected='selected'>新图飙升榜</option>
                                    <option value="price">按价格排序:从低到高</option>
                                    <option value="price-desc">按价格排序:从高到低</option>
                                </select>
                            </div>
                        </div>
{###################################这里是按热度序#}
                    </div><!-- end row -->
                </div><!-- 排序div -->

                <div class="content">
                    <div class="row">
                        <div class="col-md-12 general-title">
                            <h4>最近项目 <span class="hidden-xs"><a href="{% static 'shop-four.html' %}">查看全部</a></span></h4>
                            <hr>
                        </div><!-- end col -->
                    </div><!-- end row -->
                    <div class="row">
                        {% for contact in contacts %}
                        <div class="col-md-3 col-sm-6">
                            <div class="item-box">
                                <div class="item-media entry">
                                    <img style="width:400px;height: 200px;" src="{{ contact.photo_url }}" alt="" class="img-responsive">
                                    <div class="magnifier">
                                        <div class="item-author">
                                            <a href="{% static 'public-profile.html' %}"><img src="{{ contact.contributor.avator_sor }}" class="img-circle" alt=""> {{ contact.contributor.username }}</a>
                                        </div><!-- end author -->
                                    </div>
                                    <div class="theme__button">
                                        <p><a href="{% static 'single-item.html' %}" title="">{{ contact.count }}</a></p>
                                    </div>
                                </div><!-- end item-media -->
                                <h4><a href="{% static 'single-item.html' %}">{{ contact.picture_name }}</a></h4>
                                <small><a href="{% static 'single-item.html' %}"><i class="fa fa-eye"></i> 893</a></small>
                                <small><a href="{% static 'single-item.html' %}"><i class="fa fa-comment-o"></i> 12</a></small>
                            </div><!-- end item-box -->
                        </div><!-- end col -->
                        {% endfor %}

                    </div><!-- end row -->
                </div><!-- 内容div -->

                <div class="content-after text-center boxs">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="pagination-wrapper">
                                <ul class="pagination">
                                <li>
                                        {% if contacts.has_previous %}
                                            <a href="?page={{ contacts.previous_page_number }}">前一页</a>
                                        {% endif %}

                                    ;
                                            {% for index in contacts.paginator.page_range %}
                                                  <a href="?page={{ index}}">{{ index }}</a>
                                             {% endfor %}

                                        </span>

                                        {% if contacts.has_next %}
                                            <a href="?page={{ contacts.next_page_number }}">下一页</a>
                                        {% endif %}
    </span>
                                </li>
                                </ul>
                            </nav>
                        </div>
                    </div><!-- end row -->
                </div><!-- 下一页div -->








{% endblock %}