{% extends "base.html" %}
{% block content %}
<section class="section single-wrap">
            <div class="container">
                <div class="content-top">
                    <div class="row">
                        <div class="col-sx-6 col-sm-6">
                            <div class="custommenu hidden-xs">
                                <a id="showLeft" href="#" title="" class="bt-menu-trigger"><i class="fa fa-bars"></i> <img src="upload/fav.png" alt=""></a>
                            </div>
                        </div> 

                        <div class="col-sm-6 col-xs-12 cen-xs text-right">
                            <ul class="list-inline social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- end row -->
                </div><!-- end content top -->

                <div class="content-before">
                    <div class="row">
                        <div class="col-md-12 col-sx-12 cen-xs">
                            <form class="dropForm">
                                <div class="input-prepend">
                                    <div class="btn-group">
                                        <select name="orderby" class="selectpicker">
                                          <option>All Platforms</option>
                                          <option>IOS Apps</option>
                                          <option>Android Apps</option>
                                          <option>UI Kits</option>
                                          <option>Site Templates</option>
                                          <option>WordPress Themes</option>
                                      </select>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Search anything here.">
                                    <button class="btn btn-primary" tabindex="-1"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div><!-- end row -->
                </div><!-- end content before -->

                <div class="content boxs">

                    <div class="row">
                        <div class="col-md-12 general-title">
                            <h4>Support Messages <span class="hidden-xs"><a href="contact.html">New Message</a></span></h4>
                            <hr>
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="storelist messages panel panel-info">
                                <div class="panel-body">
                                    <div class="form-group row wow fadeIn">
                                        <div class="col-sm-2 col-xs-12">
                                            <a href="single-message.html"><img alt="" class="img-responsive img-thumbnail" src="upload/member_01.jpg">
                                            <small>By : Amanda</small>
                                            </a>
                                        </div>
                                        <div class="col-sm-5 col-xs-12">
                                            <a href="single-message.html">
                                            <h4>Feedback on Red Music Device App</h4>
                                                <ul>
                                                    <li>
                                                        I am looking for a shop format but for fine art (portfolio) with services such as workshops, webinars etc. Really like your designs but wondering if you have this for my type of business..
                                                    </li>
                                                </ul>
                                            </a>
                                        </div>
                                        <div class="col-sm-2 col-xs-12">
                                            <h4>Details</h4>
                                            <ul>
                                                <li>Purchased : Yes</li>
                                                <li>Date : Jan 25, 2016</li>
                                                <li>License : Standard</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 col-xs-12 text-center">
                                            <ul>
                                                <li><a href="single-message.html" class="btn btn-primary">Reply</a> <a href="#" class="btn btn-primary">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- end form-group -->       

                                    <hr>

                                    <div class="form-group row wow fadeIn">
                                        <div class="col-sm-2 col-xs-12">
                                            <a href="single-message.html"><img alt="" class="img-responsive img-thumbnail" src="upload/member_02.jpg">
                                            <small>By : Bob</small>
                                            </a>
                                        </div>
                                        <div class="col-sm-5 col-xs-12">
                                            <a href="single-message.html">
                                            <h4>Private Message</h4>
                                                <ul>
                                                    <li>
                                                        We really liked your amazing works and would like to Invite you on our website... 
                                                    </li>
                                                </ul>
                                            </a>
                                        </div>
                                        <div class="col-sm-2 col-xs-12">
                                            <h4>Details</h4>
                                            <ul>
                                                <li>Purchased : No</li>
                                                <li>Date : Jan 25, 2016</li>
                                                <li>License : </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 col-xs-12 text-center">
                                            <ul>
                                                <li><a href="single-message.html" class="btn btn-primary">Reply</a> <a href="#" class="btn btn-primary">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- end form-group -->       

                                    <hr>

                                    <div class="form-group row wow fadeIn">
                                        <div class="col-sm-2 col-xs-12">
                                            <a href="single-message.html"><img alt="" class="img-responsive img-thumbnail" src="upload/member_03.jpg">
                                            <small>By : Jenny</small>
                                            </a>
                                        </div>
                                        <div class="col-sm-5 col-xs-12">
                                            <a href="single-message.html">
                                            <h4>Feedback on Material Design Api</h4>
                                                <ul>
                                                    <li>
                                                        I am looking for a shop format but for fine art (portfolio) with services such as workshops, webinars etc. Really like your designs but wondering if you have this for my type of business..
                                                    </li>
                                                </ul>
                                            </a>
                                        </div>
                                        <div class="col-sm-2 col-xs-12">
                                            <h4>Details</h4>
                                            <ul>
                                                <li>Purchased : Yes</li>
                                                <li>Date : Jan 12, 2016</li>
                                                <li>License : Standard</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 col-xs-12 text-center">
                                            <ul>
                                                <li><a href="single-message.html" class="btn btn-primary">Reply</a> <a href="#" class="btn btn-primary">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- end form-group -->       

                                    <hr>
                                    <div class="form-group row wow fadeIn">
                                        <div class="col-sm-2 col-xs-12">
                                            <a href="single-message.html"><img alt="" class="img-responsive img-thumbnail" src="upload/member_04.jpg">
                                            <small>By : Adam</small>
                                            </a>
                                        </div>
                                        <div class="col-sm-5 col-xs-12">
                                            <a href="single-message.html">
                                            <h4>Feedback on Material Design Api</h4>
                                                <ul>
                                                    <li>
                                                        I am looking for a shop format but for fine art (portfolio) with services such as workshops, webinars etc. Really like your designs but wondering if you have this for my type of business..
                                                    </li>
                                                </ul>
                                            </a>
                                        </div>
                                        <div class="col-sm-2 col-xs-12">
                                            <h4>Details</h4>
                                            <ul>
                                                <li>Purchased : Yes</li>
                                                <li>Date : Jan 12, 2016</li>
                                                <li>License : Standard</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 col-xs-12 text-center">
                                            <ul>
                                                <li><a href="single-message.html" class="btn btn-primary">Reply</a> <a href="#" class="btn btn-primary">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- end form-group -->       

                                    <hr>

                                    <div class="form-group row wow fadeIn">
                                        <div class="col-sm-2 col-xs-12">
                                            <a href="single-message.html"><img alt="" class="img-responsive img-thumbnail" src="upload/member_05.jpg">
                                            <small>By : Martin</small>
                                            </a>
                                        </div>
                                        <div class="col-sm-5 col-xs-12">
                                            <a href="single-message.html">
                                            <h4>Feedback on Material Design Api</h4>
                                                <ul>
                                                    <li>
                                                        I am looking for a shop format but for fine art (portfolio) with services such as workshops, webinars etc. Really like your designs but wondering if you have this for my type of business..
                                                    </li>
                                                </ul>
                                            </a>
                                        </div>
                                        <div class="col-sm-2 col-xs-12">
                                            <h4>Details</h4>
                                            <ul>
                                                <li>Purchased : Yes</li>
                                                <li>Date : Jan 12, 2016</li>
                                                <li>License : Standard</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3 col-xs-12 text-center">
                                            <ul>
                                                <li><a href="single-message.html" class="btn btn-primary">Reply</a> <a href="#" class="btn btn-primary">Remove</a></li>
                                            </ul>
                                        </div>
                                    </div><!-- end form-group -->       

                                    <hr>
                                </div><!-- end panel body -->
                            </div><!-- end storelist -->
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end content -->

                <div class="content-after text-center boxs">
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="pagination-wrapper">
                                <ul class="pagination">
                                    <li><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li>
                                        <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div><!-- end row -->
                </div><!-- end content after -->
{% endblock %}